[submodule "thirdparty/pygame"]
	path = thirdparty/pygame
	url = https://github.com/pygame/pygame.git
[submodule "thirdparty/cpython"]
	path = thirdparty/cpython
	url = https://github.com/python/cpython.git
